saves/
patchouli_books/
nbtexporter/
ldlib/
coremods/
config/roughlyenoughitems/
config/xaerominimap.txt
config/xaeroworldmap.txt
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
fancymenu_data/
XaeroWaypoints_BACKUP240807/
XaeroWaypoints_BACKUP032021/
xaero/ 
logs/
crash-reports/
resourcepacks/Quark Programmer Art.zip
usernamecache.json
usercache.json
servers.dat
servers.dat_old
hotbar.nbt
TrashSlotSaveState.json
knownkeys.txt
options.txt
patchouli_data.json
rhino.local.properties
.qmenu_opened.marker
fabricloader.log
.vscode/settings.json
paragliderSettings.nbt
heracles_options.json