backups/
config/roughlyenoughitems/
coremods/
crash-reports/
fancymenu_data/
ldlib/
logs/
nbtexporter/
patchouli_books/
saves/
config/xaerominimap.txt
config/xaeroworldmap.txt
screenshots/
config/tacz/backup/
config/do_a_barrel_roll-client.json
server-resource-packs/
shaderpacks/
texturepacks/
xaero/
XaeroWaypoints_BACKUP032021/
XaeroWaypoints_BACKUP240807/
.qmenu_opened.marker
.vscode/settings.json
fabricloader.log
heracles_options.json
hotbar.nbt
knownkeys.txt
options.txt
paragliderSettings.nbt
patchouli_data.json
resourcepacks/Quark Programmer Art.zip
rhino.local.properties
servers.dat
servers.dat_old
TrashSlotSaveState.json
usercache.json
usernamecache.json